
<!-- POSTAGENS BIG CARD -->
<div class="postagens">

    <div class="postagem-principal"> 
        
        <app-big-card CapaPostagem="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        
        TituloCard="Onde tudo começou"
        
        descricao="De onde vem meu interesse por programação???">



        </app-big-card> 
        
    </div>

    <div class="outras-postagens">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>

   
</div>
<hr style="color: greenyellow;background-color: greenyellow;height:1px;">
<!-- POSTAGENS BIG CARD -->

<!-- POSTAGENS SMALL CARD -->


